<%= div_for comment do %>
    <p>
      <strong>
        Posted <%= time_ago_in_words(comment.created_at, include_seconds: true) %> ago by <%= User.find(comment.user_id).email %>
      </strong>
      <% if user_signed_in?  %>
      	<% if  current_user.likes?(comment) %>
      		<%= link_to('Unlike', unlike_comment_path(comment), method: :post) %>
      	<% else %>
      		<%= link_to('Like', like_comment_path(comment), method: :post) %>
      	<% end %>
      <% end %>

      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <%= comment.likers_count %>

      <% if can? :destroy, comment %>
        <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-xs"  %>
      <% end %>

      <!--<br/>-->
      <blockquote><%= comment.body %></blockquote>

      <% if user_signed_in? %>
        <% from_reply_form ||= nil %>
        <% unless from_reply_form %>
          <p><%= link_to 'reply', new_comment_path(@post, comment.id) %></p>
        <% end %>
      <% end %>
    </p> <!--extra closing tab????-->
<% end %>