<%= div_for comment do %>
    <p>
      <strong>
        Posted <%= time_ago_in_words(comment.created_at, include_seconds: true) %> ago by <%= User.find(comment.user_id).email %>
      </strong>
      <% if user_signed_in?  %>
      	<% if  current_user.likes?(comment) %>
      		<button class="btn btn-xs" type="submit">Unlike</button>
      		<!-- ADD FUNCTIONALITY FOR UNLIKE current_user.unlike!(comment)-->
      	<% else %>
      		<button class="btn btn-xs" type="submit">Like</button>
      		<!-- ADD FUNCTIONALITY FOR LIKE current_user.like!(comment)-->
      	<% end %>
      <% end %>

      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <%= comment.likers_count %>
      <br/>
      <%= comment.body %>
    </p>
<% end %>