<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center panel-title" title="Categories">
        <a data-toggle="collapse" href="#collapse_cat">
          Categories
        </a>
      </h1>
    </div>
    <div id="collapse_cat" class="panel-collapse collapse">
    <div class="panel-body">
      <ul class="nav nav-pills text-center" role="tablist">
        <% @categories.each do |cat| %>
          <a class="btn btn-default" href='/videos/filter/<%= cat.name %>'><%= cat.name %></a>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
</div>

<br>

<% if @videos.any? %>
    <div class="container">
      <h1>Latest videos</h1>
      <div id="player-wrapper"></div>
      <% @videos.in_groups_of(3) do |group| %>
          <div class="row">
            <% group.each do |video| %>
                <% if video %>
                    <div class="col-md-4">
                      <div class="yt_video thumbnail">
                        <%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,
                                              class: 'img-rounded'),
                                    "https://www.youtube.com/watch?v=#{video.uid}", target: '_blank' %>
                        <div class="caption">
                          <h5><%= video.title %></h5>
                          <p>Published at <%= video.published_at.strftime('%-d %B %Y %H:%M:%S') %></p>
                          <p>
                            <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> <%= video.like_count %>
                            <span class="glyphicon glyphicon glyphicon-thumbs-down"></span> <%= video.dislike_count %>
                          </p>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>
