<h1>New Video</h1>

<!--<%= render 'form' %>-->

<%= form_for @video do |f| %>
  <%= render 'shared/errors', object: @video %>
  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control', required: true %>
    <span class="help-block">A link to the video on YouTube.</span>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back', videos_path %>
