<% if user_signed_in? %>
    <div class="page-header">
      <h1>Your profile</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          <li><strong><%= current_user.uid.nil? ? 'Name:' : 'Google name:' %></strong> <%= current_user.name %></li>
          <li><strong>Email:</strong> <%= current_user.email %></li>
          <% unless current_user.uid.nil? %>
            <li><strong>Google+:</strong> <%= link_to current_user.url, current_user.url %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% else %>
    <%= render 'welcome' %>
<% end %>