<% if user_signed_in? %>
    <% if can? :create, Post %>
        <%= link_to 'New Post', new_post_path, class: 'btn btn-primary center-block' %>
    <% end %>
    <br>
    <div>
      <%= link_to 'View all posts',
                  posts_path,
                  :class => 'btn btn-default center-block' %>
    </div>
    <br>
    <div>
      <%= link_to 'View all my posts',
                  user_index_path(current_user),
                  :class => 'btn btn-default center-block' %>
    </div>

    <%= render 'users/profile' %>
<% else %>
    <%= render 'welcome' %>
<% end %>