<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>-->
      <div class="alert alert-alert">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Set a title', class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Write a description and don\'t forget to include a #hashtag :-)', class: 'form-control' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.fields_for :video do |ff| %>
        <div class="form-group">
          <%= ff.label :video_link %>
          <%= ff.text_field :link, placeholder: 'Add a video link', class: 'form-control' %>
        </div>
    <% end %>
  </div>
  <div class="actions">
    <%= link_to 'Back', posts_path, class: 'btn btn-default' %>
    <%= f.submit nil, class: 'btn btn-success'%>
  </div>
<% end %>
