<h1>Listing Posts</h1>
<table>
  <tr>
    <td>
      <div >
        <p> <h3> Search by title: </h3> </p>
        <!-- When submit the form, the view rendered will be the index view of our articles resource -->
        <%= form_tag( posts_path, :method => "get", class: "navbar-form", id: "search-form") do %>
        <div>
          <%= text_field_tag :title, params[:title], class: "span2" %>
          <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
           of using a Rails form helper -->
           <button class="btn" type="submit">Search</button>
         </div>
         <% end %>
         <%= yield %>
       </div>
     </td>

<td>
<div>
  <p> <h3> Search by author: </h3> </p>
  <!-- When submit the form, the view rendered will be the index view of our articles resource -->
  <%= form_tag( posts_path, :method => "get", class: "navbar-form", id: "search-form") do %>
  <div>
      <%= text_field_tag :author, params[:author], class: "span2" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
           of using a Rails form helper -->
      <button class="btn" type="submit">Search</button>
    </div>
  <% end %>
  <%= yield %>
</div>
</td>

<td>
<div>
  <p> <h3> Search by description: </h3> </p>
  <!-- When submit the form, the view rendered will be the index view of our articles resource -->
  <%= form_tag( posts_path, :method => "get", class: "navbar-form", id: "search-form") do %>
  <div>
      <%= text_field_tag :description, params[:description], class: "span2" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
           of using a Rails form helper -->
      <button class="btn" type="submit">Search</button>
    </div>
  <% end %>
  <%= yield %>
</div>
</td>
<td>
  <div >
    <p><h3> Sort by: </h3> </p>
    <%= form_tag( posts_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div>
        <%= select_tag :sort_option, options_for_select(@listing.each), include_blank: true,  class: "span2" %>
        <button class="btn" type="submit">Sort</button>
      </div>
    <% end %>
    <%= yield %>
  </div>
</td>

<td  align="right">
  <% if user_signed_in? %>
  <% if can? :create, Post %>
    <%= link_to 'New Post', new_post_path, class:"btn btn-default"  %>
  <% end %>
<% end %>
</td>
</tr>
</table>

</br>
</br>

<table class="table table-striped">
  <tbody>
    <% @posts.each do |post| %>

      <tr>
        <td>
          <!--
          <div class="yt_video thumbnail">
            <%= link_to image_tag("https://img.youtube.com/vi/#{post.video.uid}/mqdefault.jpg", alt: post.video.title,
                                  class: 'img-rounded'),
                        "https://www.youtube.com/watch?v=#{post.video.uid}", target: '_blank' %>
          </div>
          -->
          <iframe width="280" height="157" src="https://www.youtube.com/embed/<%= post.video.uid %>" frameborder="0" allowfullscreen></iframe>
        </td>
        <td align="left">

          <BR />
          <BR />

          <div>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <%= post.video.like_count %>
          </div>
          <div>
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <%= post.video.dislike_count %>
          </div>
          <div>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <%= post.video.view_count %>
          </div>
          <BR />
          <div><%= link_to '', post_path(post, :anchor => "comments"), class:"btn btn-default glyphicon glyphicon-comment" %></div>
        </td>
        <td align="center">
          <div class="post-title" >
            <h1><%= post.title %> </h1>
          </div>
          <div class="post-video-title">
            <b> <%= post.video.title %> </b>
          </div>
          <div class="post-description" vertical-align="middle">
            <%= linkify_hashtags post.description %>
          </div>
          <div class="post-author">
            <h5>Posted by <%= User.find(post.user_id).email %></h5>
          </div>
        </td>

        <td align="center">
          <div><%= link_to 'Show', post, class:"btn btn-default" %></div>
          </br>
          <div>
            <% if can? :update, post %>
              <%= link_to 'Edit', edit_post_path(post) , class:"btn btn-default"  %>
            <% end %>
          </div>
          </br>
          <div>
            <% if can? :destroy, post %>
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default"  %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
