<div class="page-header">
  <h1>Here is some info about your post:</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <ul>
      <li><strong>Title:</strong> <%= @post.title %></li>
      <li><strong>Description:</strong> <%= @post.description %></li>
    </ul>
    <div class="page-header">
      <h2>And especially your video:</h2>
    </div>
    <ul>
      <li><strong>Link:</strong> <%= @post.video.link %></li>
      <li><strong>Title:</strong> <%= @post.video.title %></li>
      <li><strong>Uid:</strong> <%= @post.video.uid %></li>
      <li><strong>Published at:</strong> <%= @post.video.published_at %></li>
      <li><strong>Thumbnail url:</strong> <%= @post.video.thumbnail_url %></li>
      <li><strong>Category title:</strong> <%= @post.video.category_title %></li>
      <li><strong>View count:</strong> <%= @post.video.view_count %></li>
      <li><strong>Like count:</strong> <%= @post.video.like_count %></li>
      <li><strong>Dislike count:</strong> <%= @post.video.dislike_count %></li>
      <li><strong>Duration:</strong> <%= @post.video.duration %></li>
    </ul>
    <div class="page-header">
      <h2>And author:</h2>
    </div>
    <ul>
      <li><strong>Email:</strong> <%= User.find(@post.user_id).email %></li>
    </ul>
  </div>

</div>
<div align="right">
<%= link_to 'Edit', edit_post_path(@post),class:"btn btn-default" %> |
<%= link_to 'Back', posts_path,class:"btn btn-default" %>
</div>
</br>
<!--<h2>Comments</h2>-->
<div id="comments">
  <%= render :partial => @post.comments %>
</div>

<% if user_signed_in? %>
  <%= form_for [@post, Comment.new] do |f| %>
    <div class="form-group">
      <%= f.label :body, "New comment" %><br/>
      <%= f.text_area :body, placeholder: 'Write a comment...', class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit "Add comment" %>
    </div>
  <% end %>
<% end %>
